 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      background-color: #f7f7f7;
      color: #333;
    }

    nav {
      background-color: #222;
      padding: 1rem;
    }

    .nav {
      display: flex;
      list-style: none;
      justify-content: center;
      gap: 20px;
    }

    .nav li a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      padding: 5px 10px;
      transition: background 0.3s ease;
    }

    .nav li a:hover {
      background-color: #444;
      border-radius: 4px;
    }

   .profile{
      border-radius: 50%;
      width: 300px;
      height: 300px;
      margin-bottom: 1rem;
    }